<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartUI</display-name> 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginState</filter-name>
    <filter-class>filter.LoginState</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginState</filter-name>
    <url-pattern>/loginfail.jsp</url-pattern>
    <url-pattern>/schedule.jsp</url-pattern>
    <url-pattern>/operate.jsp</url-pattern>
    <url-pattern>/manual.jsp</url-pattern>
    <url-pattern>/about.jsp</url-pattern>
    <url-pattern>/calender.jsp</url-pattern>
    <url-pattern>/AddSchedule</url-pattern>
    <url-pattern>/Download</url-pattern>
    <url-pattern>/FileUpload</url-pattern>
    <url-pattern>/Operate</url-pattern>
    <url-pattern>/Reserve</url-pattern>
    <url-pattern>/ShowSchedule</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ResultCheck</display-name>
    <filter-name>ResultCheck</filter-name>
    <filter-class>filter.ResultCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResultCheck</filter-name>
    <url-pattern>/ResultCheck</url-pattern>
    <url-pattern>/operate.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ScheduleCheck</display-name>
    <filter-name>ScheduleCheck</filter-name>
    <filter-class>filter.ScheduleCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ScheduleCheck</filter-name>
    <url-pattern>/ScheduleCheck</url-pattern>
    <url-pattern>/schedule.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginValidate</servlet-name>
    <servlet-class>servlet.LoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidate</servlet-name>
    <url-pattern>/LoginValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>servlet.Reserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/Reserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Operate</servlet-name>
    <servlet-class>servlet.Operate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Operate</servlet-name>
    <url-pattern>/Operate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSchedule</display-name>
    <servlet-name>ShowSchedule</servlet-name>
    <servlet-class>servlet.ShowSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSchedule</servlet-name>
    <url-pattern>/ShowSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSchedule</display-name>
    <servlet-name>AddSchedule</servlet-name>
    <servlet-class>servlet.AddSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSchedule</servlet-name>
    <url-pattern>/AddSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>servlet.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>servlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegNameCheck</display-name>
    <servlet-name>RegNameCheck</servlet-name>
    <servlet-class>servlet.RegNameCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegNameCheck</servlet-name>
    <url-pattern>/RegNameCheck</url-pattern>
  </servlet-mapping>
</web-app>